.collectionBox {
  width: 500px;
  height: 250px;
  border: 2px dashed rgba(31, 43, 1, 0.5);
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.15);

  transition: 0.3s
}
.collectionBox p {
  font-size: xx-large;
  font-style: oblique;
  color: rgb(31, 43, 1);

  text-align: center;
  max-width: 90%;
  overflow-wrap: anywhere;
}
.collectionBox:hover {
  background: rgba(0,0,0,0.25);
}
.collectionBox p.placeHolder {
  color: rgb(31, 43, 1);
}
.collectionBox p.selectedFile {
  color: rgba(29, 202, 173)
}


.fileDropArea {
  position: relative;
}
.fileDropArea button {
  position: absolute;
  right: 0;
  top: -30px;

  font-style: oblique;
  font-size: 18px;
  color: rgb(255, 255, 255);

  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 5px;

  transition: 0.3s;
}
.fileDropArea button:hover {
  background: rgba(218, 85, 8,0.75);
  color: black;
}
.fileDropArea input {
  display: none;
}


.DropBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.OperationsUnit {
  display: flex;
  justify-content: center;
  margin-top: -175px;
} 
.operationsButtons {
  display: flex;
  gap: 40px;
}
.compressButton {
  background: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);

  color: rgba(218, 85, 8);
}
.compressButton:enabled:hover {
  background: rgba(218, 85, 8, 0.75);
  color: rgba(0,0,0);
  transform: scale(0.85);
}
.decompressButton {
  background: rgba(218, 85, 8, 0.75);
  border: 1px solid rgba(218, 85, 8, 0.75);

  color: rgba(0,0,0);
}
.decompressButton:enabled:hover {
  background: rgba(0,0,0,0.6);
  color: rgba(218, 85, 8);
  transform: scale(1.15);
}
.compressButton,
.decompressButton {
    width: 190px;
    height: 40px;
    transition: 0.3s;
    border-radius: 5px;
    font-style: oblique;
    font-size: 25px;
}
.compressButton:disabled,
.decompressButton:disabled {
  background: rgba(0,0,0, 0.1);
  border: 1px solid rgba(0,0,0, 0.1);
  color: wheat;

}